:root {
  --primary: #6F4E37;
  --secondary: #C97A40;
  --bg: #FFF8F0;
  --text: #2B2B2B;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: var(--primary);
  color: white;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.btn {
  background: var(--primary);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

/* Featured */
.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Menu */
.menu-container {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: var(--primary);
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .menu-item {
    flex-direction: column;
  }

  .price {
    margin-top: 5px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nav-link {
  position: relative;
  transition: 0.3s;
}

.nav-link:hover {
  color: #c97a40 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #c97a40;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link {
  color: #c97a40 !important;
}

.custom-navbar {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 15px 0;
  transition: 0.3s;
}

.navbar-brand {
  color: #f8c471 !important;
  letter-spacing: 1px;
}

.custom-link {
  color: white !important;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.custom-link:hover {
  color: #f8c471 !important;
}

.custom-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: #f8c471;
  transition: 0.3s;
}

.custom-link:hover::after {
  width: 100%;
}

